In [125]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import numpy as np

In [126]:
df = pd.read_csv('dados/archive/healthcare-dataset-stroke-data.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [127]:
df_ = pd.get_dummies(df)
df_ = df_.dropna()
df_.head()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,9046,67.0,0,1,228.69,36.6,1,0,1,0,...,0,1,0,0,0,1,0,1,0,0
2,31112,80.0,0,1,105.92,32.5,1,0,1,0,...,0,1,0,0,1,0,0,0,1,0
3,60182,49.0,0,0,171.23,34.4,1,1,0,0,...,0,1,0,0,0,1,0,0,0,1
4,1665,79.0,1,0,174.12,24.0,1,1,0,0,...,0,0,1,0,1,0,0,0,1,0
5,56669,81.0,0,0,186.21,29.0,1,0,1,0,...,0,1,0,0,0,1,0,1,0,0

In [128]:
# Importando as bibliotecas necessárias
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Separando os dados em conjuntos de treino e teste
y = df_['stroke'] # Definindo a variável y como a coluna 'stroke' do dataframe df_
X = df_.drop(['stroke'], axis=1) # Definindo a variável X como todas as colunas do dataframe df_, exceto a coluna 'stroke'
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.5) # Separando aleatoriamente X e y em conjuntos de treino e teste usando a função train_test_split da biblioteca Scikit-learn. Neste caso, estamos usando 50% dos dados para treino e 50% para teste.

# Treinando um modelo de regressão logística
model = LogisticRegression() # Definindo um objeto da classe LogisticRegression da biblioteca Scikit-learn
model.fit(X_train, y_train) # Treinando o modelo nos dados de treino usando o método fit() do objeto model

# Fazendo previsões nos dados de teste
y_pred = model.predict(X_test) # Usando o método predict() do objeto model para fazer previsões nos dados de teste (X_test) e armazenando o resultado na variável y_pred.

# Calculando a acurácia
accuracy = accuracy_score(y_test, y_pred) # Calculando a acurácia comparando as respostas verdadeiras (y_test) com as previsões (y_pred) usando a função accuracy_score() da biblioteca Scikit-learn e armazenando o resultado na variável accuracy.
print('Acurácia:', accuracy * 100,"%") # Imprimindo a acurácia na tela.

Acurácia: 95.19348268839104 %

In [129]:
print(X_train)

         id   age  hypertension  heart_disease  avg_glucose_level   bmi  \
5064  66684  70.0             0              0             193.88  24.3
4427  61667  61.0             0              0             144.14  29.8
68     6118  59.0             0              0              86.23  30.0
3979  31692  67.0             0              0              83.16  28.3
3409  56996  44.0             0              0              65.41  24.8
...     ...   ...           ...            ...                ...   ...
2664  61339  47.0             0              0              95.04  28.7
3345  45701  72.0             0              1             124.38  23.4
2512  58568  58.0             0              0             127.32  33.1
3487  65731  57.0             0              0              83.64  29.4
2999  27436  12.0             0              0             110.33  20.4

      gender_Female  gender_Male  gender_Other  ever_married_No  ...  \
5064              0            1             0                0  ...
4427              1            0             0                0  ...
68                0            1             0                0  ...
3979              0            1             0                0  ...
3409              0            1             0                0  ...
...             ...          ...           ...              ...  ...
2664              0            1             0                0  ...
3345              1            0             0                1  ...
2512              1            0             0                0  ...
3487              0            1             0                0  ...
2999              0            1             0                1  ...

      work_type_Never_worked  work_type_Private  work_type_Self-employed  \
5064                       0                  0                        1
4427                       0                  1                        0
68                         0                  1                        0
3979                       0                  1                        0
3409                       0                  1                        0
...                      ...                ...                      ...
2664                       0                  0                        1
3345                       0                  0                        1
2512                       0                  1                        0
3487                       0                  0                        1
2999                       0                  0                        0

      work_type_children  Residence_type_Rural  Residence_type_Urban  \
5064                   0                     1                     0
4427                   0                     1                     0
68                     0                     0                     1
3979                   0                     1                     0
3409                   0                     0                     1
...                  ...                   ...                   ...
2664                   0                     0                     1
3345                   0                     1                     0
2512                   0                     1                     0
3487                   0                     0                     1
2999                   1                     0                     1

      smoking_status_Unknown  smoking_status_formerly smoked  \
5064                       1                               0
4427                       0                               0
68                         0                               1
3979                       0                               0
3409                       0                               0
...                      ...                             ...
2664                       0                               0
3345                       0                               1
2512                       0                               0
3487                       0                               0
2999                       1                               0

      smoking_status_never smoked  smoking_status_smokes
5064                            0                      0
4427                            1                      0
68                              0                      0
3979                            1                      0
3409                            0                      1
...                           ...                    ...
2664                            1                      0
3345                            0                      0
2512                            0                      1
3487                            0                      1
2999                            0                      0

[2454 rows x 22 columns]

In [130]:
print(X_test)

         id   age  hypertension  heart_disease  avg_glucose_level   bmi  \
3704  15324  40.0             0              0              86.10  23.9
3270  72082  45.0             0              0              69.76  25.3
3395  15383  29.0             0              0             118.44  24.8
4867  47427  49.0             0              0              70.73  27.3
4927  25391  10.0             0              0              69.84  13.7
...     ...   ...           ...            ...                ...   ...
3801  18876  28.0             0              0              69.50  24.5
4665  50557  68.0             0              0             222.58  37.4
404   55810  61.0             0              0              93.48  23.7
1431  32459  76.0             0              0              84.21  24.4
2925  45099  25.0             0              0              83.33  31.5

      gender_Female  gender_Male  gender_Other  ever_married_No  ...  \
3704              1            0             0                1  ...
3270              1            0             0                0  ...
3395              1            0             0                0  ...
4867              0            1             0                0  ...
4927              1            0             0                1  ...
...             ...          ...           ...              ...  ...
3801              1            0             0                0  ...
4665              1            0             0                0  ...
404               1            0             0                0  ...
1431              1            0             0                0  ...
2925              0            1             0                0  ...

      work_type_Never_worked  work_type_Private  work_type_Self-employed  \
3704                       0                  1                        0
3270                       0                  0                        1
3395                       0                  1                        0
4867                       0                  0                        1
4927                       0                  0                        0
...                      ...                ...                      ...
3801                       0                  1                        0
4665                       0                  0                        1
404                        0                  0                        1
1431                       0                  0                        0
2925                       0                  0                        1

      work_type_children  Residence_type_Rural  Residence_type_Urban  \
3704                   0                     0                     1
3270                   0                     1                     0
3395                   0                     0                     1
4867                   0                     0                     1
4927                   1                     1                     0
...                  ...                   ...                   ...
3801                   0                     0                     1
4665                   0                     0                     1
404                    0                     1                     0
1431                   0                     1                     0
2925                   0                     0                     1

      smoking_status_Unknown  smoking_status_formerly smoked  \
3704                       1                               0
3270                       0                               0
3395                       0                               0
4867                       0                               1
4927                       1                               0
...                      ...                             ...
3801                       0                               0
4665                       0                               0
404                        1                               0
1431                       0                               0
2925                       1                               0

      smoking_status_never smoked  smoking_status_smokes
3704                            0                      0
3270                            0                      1
3395                            1                      0
4867                            0                      0
4927                            0                      0
...                           ...                    ...
3801                            1                      0
4665                            0                      1
404                             0                      0
1431                            1                      0
2925                            0                      0

[2455 rows x 22 columns]

In [131]:
print(y_train)

5064    0
4427    0
68      1
3979    0
3409    0
       ..
2664    0
3345    0
2512    0
3487    0
2999    0
Name: stroke, Length: 2454, dtype: int64

In [132]:
print(y_test)

3704    0
3270    0
3395    0
4867    0
4927    0
       ..
3801    0
4665    0
404     0
1431    0
2925    0
Name: stroke, Length: 2455, dtype: int64